replicaCount: 1

serviceMonitor:
  enabled: true
  defaults:
    interval: 30s
    scrapeTimeout: 10s
    labels:
      release: kube-prometheus-stack
  targets:
    - name: jellyfin
      url: http://jellyfin.jellyfin.svc.cluster.local:8096/Sessions
      module: jellyfin

configuration:
  config: |
    ---
    modules:
      jellyfin:
        headers:
          Content-Type: application/json
          Accept: application/json
          Authorization: "MediaBrowser Token=<JELLYFIN_API_KEY>"
        metrics:
          - name: jellyfin
            type: object
            help: User playback metrics from Jellyfin
            path: '{ [?(@.NowPlayingItem)] }'
            labels:
              user_name: '{ .UserName }'
              item_type: '{ .NowPlayingItem.Type }'
              item_name: '{ .NowPlayingItem.Name }'
              series_name: '{ .NowPlayingItem.SeriesName }'
              client_name: '{ .Client }'
              device_name: '{ .DeviceName }'
              session_id: '{ .Id }'
              item_path: '{ .NowPlayingItem.Path }'
              episode_index: 'e{ .NowPlayingItem.IndexNumber }'
              season_index: 's{ .NowPlayingItem.ParentIndexNumber }'
              play_method: '{ .PlayState.PlayMethod }'
            values:
              is_paused: '{ .PlayState.IsPaused }'
