**/*.backup

# Terraform
**/*.tfstate
**/*.tfstate.*
**/.terraform/

**/terraform.tfvars
**/*.auto.tfvars

# Talos
**/controlplane.yaml
**/worker.yaml
**/talosconfig

# Generated
infrastructure/terraform/proxmox/generated
