**/*.backup

# Terraform
**/*.tfstate
**/*.tfstate.*
**/.terraform/
**/terraform.tfvars
**/*.auto.tfvars

# Talos
**/controlplane.yaml
**/worker.yaml
**/talosconfig
**/iso-content/*

# Kubernetes
kubeconfig
**/secret.filled-in.yaml

# Generated
infrastructure/terraform/proxmox/generated
